#content {
    zoom: 1;
    display: block;
    max-width: 960px;
    margin: 0 auto;
    padding: 0 15px 2em 15px;
}

#content:after {
    content: "";
    display: block;
    clear: both;
}

@media (min-width: 641px) {
    .page-wrapper {
      float: none;
      width: 70%;
      margin: 0 auto;
      }  
}

body {
    font-family: 'Oxygen', HelveticaNeue;
    background-color: #fffff9;
}

h1, h2, h3, h4 {
    font-family: 'Oswald', HelveticaNeue;
}

h2, h3, h4 {
    color: teal;
    /*margin: 40px auto;*/
    margin: 40px 0;
    border-bottom: 2px solid teal;
    text-align: left;
    padding: 15px;
}

h2 {
    font-size: 1.6em;
}

h3, h4 {
    font-size: 1.3em;
}


.inner {
    display: block; 
    margin: 0 auto;
    width: 80%;
}

.inner p, .inner li {
    text-align: justify;
    font-size: 1.2em;
    line-height: 1.4em;
}

.inner li {
    padding: 0.2em;
}

h1#project_title {
    border: 3px solid teal;
    color: teal;
    font-size: 3em;
    line-height: 2em;
    text-align: center;           
}

a {
    text-decoration: none;
    color: teal;
}

a:hover {
    border-bottom: 1px dotted olive;
}

blockquote {
    font-size: 1.2em;
    padding: 25px;
    width: 100%;
    border: 2px solid black;
    -webkit-margin-before: 50px;
    -webkit-margin-after: 50px;
    -webkit-margin-start: -25px;
    -webkit-margin-end: 0;
}

blockquote p {
    margin: 25px auto;
    padding: 0;
    width: 90%;
}

#footer_wrap {
    margin: 50px 0;
    font-size: 0.7em;
}

