<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Hmrc.GitHub.io : Information about the HMRC GitHub organisation, repositories and approaches to software">

    <link rel="stylesheet" href="/stylesheets/main.css">

    <title>HMRC.GitHub.io</title>
  </head>

  <body class="pure-g">
    {% include header.html %}

    <!-- MAIN CONTENT -->
    <section class="main_content center pure-u-3-5">
      {{ content }}
    </section>

    {% include footer.html %}
  </body>
</html>
